<!--

This file overrides the layout1.html in
/usr/lib/ckan/default/src/ckan/ckan/templates/home/.

In the future, we could likely push a new item to the front page layouts
dropdown in the settings page and rename this file layout4.html.

-->
<style type="text/css">
  /*.browse-topic{
    position: relative;
    margin-bottom: 70px;
  }
  .group_count_badge{
   
    display: none;
   
  }
  .browse-topic:hover .group_count_badge{
    position: absolute;
    display: block;
    top: -24px;
    left: 47px;

  }
  .tooltip-arrow,
.kp-odp-tooltip + .tooltip > .tooltip-inner {background-color: #1abc9c;}
.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] 
.arrow::before {
border-top-color: #00acd6;
}
*/

.kp-odp-tooltip + .tooltip > .tooltip-inner {background-color: #1abc9c;}
.kp-odp-tooltip + .tooltip > .tooltip-arrow { border-bottom-color:#1abc9c!important; }
</style>
<div class="outer">
  <div role="main" class="hero inner">
    <div class="container">
      <div class="row row1">
        <div class="col-md-6 col1">
          <div class="module-content">
            <h1 class="hero-text-heading hero-text">Your Source for Open Data in Khyber Pakhtunkhwa, Pakistan</h1>
            <p class="hero-text-description hero-text">
              Here you will find data, tools and resources to conduct research, develop web and mobile applications, design data visualizations, and much more!
  
            </p>
          </div>
        </div>
        <div class="col-md-5 col1 hidden-sm hidden-xs">
          <div class="carousel-controls">
            <a class="carousel-control left" href="#vizcarousel" data-slide="prev"><img src="/img/larrow.svg"></a>
            <a class="carousel-control right" href="#vizcarousel" data-slide="next"><img src="/img/rarrow.svg"></a>
          </div>
          <div id="vizcarousel" class="carousel">
            <div class="spinner"></div>
            <div class="carousel-inner">
              <div class="active item in" data-url="/render/viz-partial-efficiency" data-slide-number="0"></div>
              <div class="item ddd" data-url="/render/viz-partial-grounded"></div>
              <div class="item" data-url="/render/viz-partial-crime"></div>
              <div class="item" data-url="/render/viz-partial-landinventory"></div>
              <div class="item" data-url="/render/viz-partial-generalfund"></div>
              <div class="item" data-url="/render/viz-partial-burglaries"></div>
              <div class="item" data-url="/render/viz-partial-schoolbudget"></div>
              
              <div class="item" data-url="/render/viz-partial-science"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div role="main" class="main-search">
  <div class="container">
    <div class="row row1">
      <div class="col-md-6 col1">
        {% snippet 'home/snippets/search.html' %}
      </div>
      <div class="col-md-5 col-md-offset-1">
        <div class="module-content box getstarted">
          <p>
            Get started by searching the
            <b class="badge">{{ h.kpodp_theme_dataset_count() }}</b>
            datasets that cover all dimensions of KP, from city council districts to park locations.

          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div role="main" class="main-browse">
  <div class="container">
    <div class="row row2">
      <div class="col-md-12 col1">
        <div class="module-content box">
          <h1 class="browse-heading">Browse by Topic</h1>
          <div>
              {% for topic in h.kpodp_theme_groups() %}
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                <a href="/group/{{ topic.name }}" class=" kp-odp-tooltip browse-topic" data-toggle="dataset-tooltip" title="{{ topic.package_count }} Datasets">
                    <img class="browse-topic-image" src="{{ topic.image_display_url or '/img/icons-document.svg' }}">
                  <div class="browse-topic-title">
                    {{ topic.display_name }}
                    <!-- <span class="group_count_badge badge">{{ topic.package_count }}</span> -->

                  </div>
                </a>
                </div>
              {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div role="main" class="main-updates">
  <div class="container">
    <div class="row row2">
      <div class="col-md-6 col1">
        {% snippet 'home/snippets/latest_datasets.html' %}
      </div>
      <!-- second col -->
    </div>
  </div>
</div>
